.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    padding: 5rem 0 3rem;
    background-color: #070707;
    width: 100vw;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

.contactForm {
    width: 100%;
    max-width: 600px;
}

.input {
    width: 100%;
    padding: 0.75rem;
    border-radius: 5px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.inputName {
    border: 1px solid #19acc9;
}

.inputEmail {
    border: 1px solid #13adcf;
}

.inputMessage {
    border: 1px solid #14a0c7;
}

.submitButton {
    padding: 0.75rem 2rem;
    border-radius: 5px;
    background-color: #0ed0de;
    color: #060606;
    border: 1px solid #000000;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s, transform 0.3s;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    flex-wrap: wrap;
}

.small {
    margin-top: 2rem;
    color: white;
}